.root {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 75px;
}

.pagination {
  margin: 10px;
}

.input {
  width: 310px;
  height: 31.6;
}

@media (min-width: 420px) {
  .input {
    width: 387px;
    height: 31.6;
  }
}

@media (min-width: 1040px) {
  .input {
    width: 1010px;
    height: 31.6;
  }
}
